# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [8]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Qaanaaq,GL,2022-09-24 03:45:56,77.4840,-69.3632,10.81,79,59,6.89,broken clouds
1,1,Ahuimanu,US,2022-09-24 03:45:57,21.4447,-157.8378,82.11,73,40,6.91,scattered clouds
2,2,Charters Towers,AU,2022-09-24 03:45:57,-20.1000,146.2667,87.66,27,0,2.04,clear sky
3,3,Lompoc,US,2022-09-24 03:45:58,34.6391,-120.4579,70.02,95,0,0.00,mist
4,4,Umba,RU,2022-09-24 03:45:58,66.6871,34.3429,45.79,89,100,6.93,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [9]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("enter minimum temperature"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("enter maximum temperature"))

enter minimum temperature50
enter maximum temperature90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [17]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
                                    
# Display sample data
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Ahuimanu,US,2022-09-24 03:45:57,21.4447,-157.8378,82.11,73,40,6.91,scattered clouds
2,2,Charters Towers,AU,2022-09-24 03:45:57,-20.1000,146.2667,87.66,27,0,2.04,clear sky
3,3,Lompoc,US,2022-09-24 03:45:58,34.6391,-120.4579,70.02,95,0,0.00,mist
6,6,Batticaloa,LK,2022-09-24 03:45:59,7.7102,81.6924,85.10,56,100,1.79,overcast clouds
9,9,Mataura,NZ,2022-09-24 03:46:00,-46.1927,168.8643,59.54,55,85,5.03,overcast clouds

In [18]:
# 4a. Determine if there are any empty rows.
print(len(preferred_cities_df))
preferred_cities_df.count()

517

City_ID                517
City                   517
Country                512
Date                   517
Lat                    517
Lng                    517
Max Temp               517
Humidity               517
Cloudiness             517
Wind Speed             517
Current Description    517
dtype: int64

In [19]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna(axis="index", how="any")
print(len(clean_travel_cities))

# Display sample data
clean_travel_cities.head()

512

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Ahuimanu,US,2022-09-24 03:45:57,21.4447,-157.8378,82.11,73,40,6.91,scattered clouds
2,2,Charters Towers,AU,2022-09-24 03:45:57,-20.1000,146.2667,87.66,27,0,2.04,clear sky
3,3,Lompoc,US,2022-09-24 03:45:58,34.6391,-120.4579,70.02,95,0,0.00,mist
6,6,Batticaloa,LK,2022-09-24 03:45:59,7.7102,81.6924,85.10,56,100,1.79,overcast clouds
9,9,Mataura,NZ,2022-09-24 03:46:00,-46.1927,168.8643,59.54,55,85,5.03,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [21]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [22]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Ahuimanu,US,82.11,scattered clouds,21.4447,-157.8378,
2,Charters Towers,AU,87.66,clear sky,-20.1000,146.2667,
3,Lompoc,US,70.02,mist,34.6391,-120.4579,
6,Batticaloa,LK,85.10,overcast clouds,7.7102,81.6924,
9,Mataura,NZ,59.54,overcast clouds,-46.1927,168.8643,
12,Isangel,VU,78.91,broken clouds,-19.5500,169.2667,
14,Saint George,US,80.80,clear sky,37.1041,-113.5841,
15,Butaritari,KI,81.50,broken clouds,3.0707,172.7902,
18,Busselton,AU,60.01,scattered clouds,-33.6500,115.3333,
20,Nabire,ID,86.65,broken clouds,-3.3667,135.4833,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [23]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [26]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping the city.")
        hotel_df.loc[index, "Hotel Name"] = np.nan

Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [27]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Ahuimanu,US,82.11,scattered clouds,21.4447,-157.8378,Paradise Bay Resort
2,Charters Towers,AU,87.66,clear sky,-20.1000,146.2667,Cattleman's Rest Motor Inn
3,Lompoc,US,70.02,mist,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
6,Batticaloa,LK,85.10,overcast clouds,7.7102,81.6924,Grand Star Guest House
9,Mataura,NZ,59.54,overcast clouds,-46.1927,168.8643,Ellie's Villa
12,Isangel,VU,78.91,broken clouds,-19.5500,169.2667,Tanna Lodge
14,Saint George,US,80.80,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
15,Butaritari,KI,81.50,broken clouds,3.0707,172.7902,Isles Sunset Lodge
18,Busselton,AU,60.01,scattered clouds,-33.6500,115.3333,Observatory Guest House
20,Nabire,ID,86.65,broken clouds,-3.3667,135.4833,Hotel Nusantara I

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [28]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [29]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [30]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [33]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [34]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   21.4447 -157.8378
2  -20.1000  146.2667
3   34.6391 -120.4579
6    7.7102   81.6924
9  -46.1927  168.8643
12 -19.5500  169.2667
14  37.1041 -113.5841
15   3.0707  172.7902
18 -33.6500  115.3333
20  -3.3667  135.4833

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [37]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(markers)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))